<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="com.testng.listeners.CustomListener" />
		<listener class-name="com.testng.listeners.MyTransform" />
	</listeners>

	<test thread-count="5" name="Test">

		<parameter name="url" value="http://facebook.com" />
		<parameter name="emailid" value="test@test.com" />
		<parameter name="password" value="test" />

		<classes>
			<!-- <class name="com.testng.listeners.ScreenshotTest" /> -->
			<!-- <class name="com.testng.PriorityGroups" /> -->
			<class name="mytests.MyTests" />
			<!-- <class name="com.testng.Invocations" /> -->
			<!-- <class name="com.testng.GoogleTest" /> -->
			<!-- <class name="co.practise.TestNGBasics" /> -->
			<!-- <class name="com.testng.TestNGAnnotations" /> -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
